node_modules
.next
out
dist
coverage
playwright-report
test-results
blob-report
.env
.env.local
.env.*.local
.pgdata
*.log
.DS_Store
tsconfig.tsbuildinfo
next-env.d.ts
prisma/dev.db
.vercel
*.tsbuildinfo
